---
layout: single
title: "Awards"
permalink: /awards/
author_profile: true
page_class: page--awards
award_sections:
- key: competition
title: "Competition Awards"
note: "Algorithm competitions"
---

{% include base_path %}

<div class="awards-page">
  {% for section in page.award_sections %}
  <section class="awards-section">
    <div class="awards-section__header">
      <h2>{{ section.title }}</h2>
      {% if section.note %}
      <p class="awards-section__note">{{ section.note }}</p>
      {% endif %}
    </div>

    {% if section.key == "competition" %}
    <ol class="awards-list">
      <li class="award-item">
        <div class="award-item__date">2023</div>
        <div class="award-item__body">
          <h3 class="award-item__title">{% include medal.html type="gold" %}, The
            9th China Collegiate Programming Contest, Harbin Site</h3>
          <p class="award-item__meta">China Collegiate Programming Contest (CCPC) &middot; Harbin Site</p>
          <!-- <div class="award-item__description">
            <p>Rank 18.</p>
          </div> -->
        </div>
      </li>
      <li class="award-item">
        <div class="award-item__date">2023</div>
        <div class="award-item__body">
          <h3 class="award-item__title">{% include medal.html type="silver" %}, The
            48th International Collegiate Programming Contest, Xi'an Site</h3>
          <p class="award-item__meta">International Collegiate Programming Contest (ICPC) &middot; Xi'an Site</p>
          <!-- <div class="award-item__description">
                  <p>Rank 18.</p>
                </div> -->
        </div>
      </li>
      <li class="award-item">
        <div class="award-item__date">2023</div>
        <div class="award-item__body">
          <h3 class="award-item__title">{% include medal.html type="silver" %}, The
            48th International Collegiate Programming Contest, Jinan Site</h3>
          <p class="award-item__meta">International Collegiate Programming Contest (ICPC) &middot; Jinan Site</p>
          <!-- <div class="award-item__description">
                              <p>Rank 18.</p>
                            </div> -->
        </div>
      </li>
    </ol>
    {% endif %}
  </section>
  {% endfor %}
</div>

{% comment %}
Example:
<li class="award-item">
  <div class="award-item__date">2023</div>
  <div class="award-item__body">
    <h3 class="award-item__title">{% include medal.html type="gold" %}, Award title</h3>
    <p class="award-item__meta">Competition name &middot; Site</p>
    <div class="award-item__description">
      <p>Rank information.</p>
    </div>
  </div>
</li>
{% endcomment %}