---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
page_class: publications-page
---

{% include base_path %}

{% if site.author.googlescholar %}
  <p class="publications-profile-link">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</p>
{% endif %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <section class="publications-section">
        <h2 class="publications-section__title">{{ category[1].title }}</h2>
        <div class="publications-list">
        {% assign title_shown = true %}
      {% endunless %}
      {% include publication-single.html %}
    {% endfor %}
    {% if title_shown %}
        </div>
        </section>
    {% endif %}
  {% endfor %}
{% else %}
  <section class="publications-section">
    <div class="publications-list">
  {% for post in site.publications reversed %}
    {% include publication-single.html %}
  {% endfor %}
    </div>
  </section>
{% endif %}
